<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>TechCenter</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style = "background-color:LightGray;">
		<header>
		<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="\">TechCenter</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		        <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		            Для замовникiв
		          </a>
		          <ul class="dropdown-menu">
		            <li><a class="dropdown-item" th:href="@{/order/create}">Створити проект</a></li>
		            <li><hr class="dropdown-divider"></li>
		            <li><a class="dropdown-item" href="/freelancers">Пошук фрилансерiв</a></li>
		          </ul>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="/project">Для фрилансерiв</a>
		        </li>
		      </ul>
		      	<div class="d-grid gap-2 d-md-block">
		        	<a class="btn btn-primary" role="button" aria-disabled="true" href="/login">Вхід</a>
					<a class="btn btn-secondary" role="button" aria-disabled="true" href="/register">Реєстрація</a>
				</div>
		    </div>
		  </div>
		</nav>
		</header>
	<div class = "container text-center">
		<div>
			<h1>Публікація замовлення</h1>
		</div>
	</div>
		<form th:action = "@{/process_order_creation}" method="post"
		style = "max-width: 1000px; margin: 0 auto;" 
		th:object ="${order}">
		<div class="mb-3 row">
		    <label class="col-sm-2 col-form-label">Назва замовлення</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" th:field = "*{orderName}" required>
		    </div>
		  </div>
		  <label for="DataList" class="form-label">Тип роботи</label>
			<input class="form-control" list="datalistOptions" id="DataList" placeholder="Виберіть із списку" th:field = "*{category}" required>
			<datalist id="datalistOptions">
			  <option value="Дистанційна(віддалений робочий стіл)">
			  <option value="Консультація">
			  <option value="На дому">
			  <option value="З виїздом">
			</datalist>
		  <div class="mb-3">
		  	<label for="FormControlTextarea1" class="form-label">Опис замовлення</label>
		  	<input class="form-control" type="text" th:field = "*{details}" required>
		  </div>
		  <div class="mb-3 row">
		    <label class="col-sm-2 col-form-label">Тривалість до</label>
		    <div class="col-sm-10">
		      <input type="date" class="form-control" value="" th:field = "*{duration}" required>
		    </div>
		  </div>
		  <div class="mb-3 row">
		    <label class="col-sm-2 col-form-label">Бюджет</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" value="$" th:field = "*{budget}" required>
		    </div>
		  </div>
		  
		  
		  
		  <div>
				<button type = "submit" class = "btn btn-primary btn-lg">Опублікувати</button>
			</div>
		</form>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>